{% extends "index.html" %}
{% block content %}

<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        Nuevo Empleado
    </div>
    <div class="card-body">

        <form method="post" class="row g-3">
            <div class="col-md-6">
                <input type="text" name="nombre" class="form-control"
                       placeholder="Nombre" required minlength="3">
            </div>

            <div class="col-md-6">
                <input type="text" name="puesto" class="form-control"
                       placeholder="Puesto" required>
            </div>

            <div class="col-12">
                <button class="btn btn-success">Guardar</button>
            </div>
        </form>

    </div>
</div>

<div class="card">
    <form method="get" class="row g-2 mb-3">
    <div class="col-md-10">
        <input type="text"
               class="form-control"
               name="buscar"
               placeholder="Buscar por nombre o puesto"
               value="{{ buscar or '' }}">
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary w-100">Buscar</button>
    </div>
    </form>
</div>

<div class="card">
    <div class="card-header bg-secondary text-white">
        Listado de Empleados
    </div>
    <div class="card-body">
        {% if empleados|length == 0 %}
            <div class="alert alert-warning text-center">
                No hay empleados registrados
            </div>
        {% else %}
        <table class="table table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Puesto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for e in empleados %}
                <tr>
                    <td>{{ e.nombre }}</td>
                    <td>{{ e.puesto }}</td>
                    <td>
                        <a href="/empleados/editar/{{ e.id_empleado }}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="/empleados/eliminar/{{ e.id_empleado }}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('¿Eliminar empleado?')">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}